<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
"http://hibernate.org/dtd/hibernate-configuration.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
   	org.hibernate.dialect.Oracle10gDialect
   </property>
   <property name="hibernate.connection.driver_class">
	oracle.jdbc.driver.OracleDriver
   </property>

   <!-- Assume test is the database name -->
   <property name="hibernate.connection.url">
 	jdbc:oracle:thin:@//db.student.chalmers.se:1521/kingu.ita.chalmers.se
   </property>
   <property name="hibernate.connection.username">
   	rickaan
   </property>
   <property name="hibernate.connection.password">
   	zDi3zwHN
   </property>

   <!-- List of XML mapping files -->
   <mapping resource="SafariDestination.hbm.xml"/>
   <mapping resource="Customer.hbm.xml"/>

</session-factory>
</hibernate-configuration>
